
.wrapper {
  height: 60px;
  width: 100vw;

  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-top: 1px solid #c4c4c4;
  background-color: white;
  position: fixed;
  bottom: 0;
  

  display: grid;
  grid-template-columns: auto 500px auto;
  align-items: center;
  transition: 0.3s;
}

.options {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(5, max-content);
  justify-content: center; 
}

.options li {
  list-style: none;
  margin: auto;
}

.options img:not(.plus, .message) {
  width: 32px;
  height: 32px;

}
.plus {
  width: 60px;
  height: 60px;
}
.message {
  width: 32px;
  height: 28px;

}
.options img {
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 500px) {
  .wrapper {
    /* background-color: red; */
    display: grid;
    grid-template-columns: auto 300px auto;
  }
  .options img {
    margin-left: 10px;
    margin-right: 10px;
  }
}