.box {

  margin-left: auto;
  margin-right: auto;
  width: 500px;
  /* width: 80vw; */
  height: 140px;
  /* background-color: green; */
  transition: 1s;

  border: 1px solid black;
  border-radius: 15px;
}
.container {
  
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: visible;
  /* background-color: green; */
  display: block;
  position: relative;
}
.wrapper {

  /* background-color: green; */
  /* white-space: nowrap; */
  box-sizing: border-box;
  /* background-color: lightcyan; */
  display: inline-flex;
}
.item {
  width: 100px;
  height: 100px;
  background: lightblue;
  margin: 30px;
}
.SwipeButton {
  background: rgba(0, 0 ,0, 0.35);
  /* opacity: 0.7; */
  color: rgb(255, 255, 255);
  fill: currentColor;
  stroke: none;
  border-radius: 50px;
  cursor: pointer;
}
.right {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1;
  bottom: 80px;
}
.left {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1;
  bottom: 110px;
  left: 467.5px;
  transition: 1s;
}

@media (min-width: 800px) {
  .box {
    width: 800px;
  }
  .left {
    left: 767.5px;
  }
}